@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.App {
  margin: 0 auto;

  .header {
    width: 100vw;
    border-bottom: solid 2px $key-bg;
    margin-bottom: 20px;
  }

  .words {
    width: 280px;
    height: 326px;
    margin: 0 auto;
    overflow: hidden;

    .completed-row,
    .empty-row,
    .current-row {
      display: flex;
      flex-wrap: wrap;
      padding-left: 4px;
    }

    .cell {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      text-align: center;
      font-size: 40px;
      border: solid 2px $key-bg;
      margin: 2px;
      font-weight: 600;
    }

    .correct-letter {
      background-color: $correct-color;
      color: white;
    }

    .correct-letter-wrong-position {
      background-color: $present-color;
      color: white;
    }

    .wrong-letter {
      background-color: $wrong-color;
      color: white;
    }
  }

  .key {
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    height: 58px;
    background-color: $key-bg;
    color: black;
    margin: 3px;
  }

  .key-incorrect {
    background-color: $wrong-color;
    color: white;
  }

  .key-wrong-position {
    background-color: $present-color;
    color: white;
  }

  .key-correct {
    background-color: $correct-color;
    color: white;
  }
}


@media (max-width:480px) {
  .key {
    width: 33px;
    padding: 0;
  }
}

@media (min-width: 480px) {
  .key {
    width: 45px;
  }
  
}
  

